[submodule "ImageMagick"]
	path = deps/ImageMagick
	url = https://github.com/ImageMagick/ImageMagick.git
[submodule "deps/ImageMagick"]
	path = deps/ImageMagick
	url = https://github.com/ImageMagick/ImageMagick.git
