name: Build & test magickwand.js

on:
  workflow_call:
    inputs:
      platform:
        type: string
        required: true
      dependencies:
        type: string
        default: 'conan'
        description: dependencies origin ('conan' or 'system')
      native:
        type: boolean
        required: true
        description: build the native module
      wasm:
        type: boolean
        required: true
        description: build the WASM module
      integration:
        type: string
        required: true
        description: integration tests to run ('node' and/or 'browser')
      light:
        type: boolean
        default: false
        description: do not expect that all delegates are included
      extralight:
        type: boolean
        default: false
        description: do not expect the PNG delegate
      install_cmd:
        type: string
        description: install command to use for the integration tests
      extra_npm_opts:
        type: string
        default: ''
        description: extra npm options
      container:
        type: string
        default: null
        description: run in container
      container_init:
        type: string
        default: null
        description: container initialization
      prebuild:
        type: string
        default: null
        description: comand to run before building
      conan_cache_key:
        type: string
        default: ''
        description: conan cache key to use, empty for no cache
      link:
        type: boolean
        default: false
        description: link the package globally
      publish:
        type: boolean
        default: false
        description: publish the binaries to the current release
      regen_swig:
        type: boolean
        default: false
        description: regenerate the SWIG wrappers on the current patform

jobs:
  build:
    name: Build & test ${{ inputs.wasm && 'WASM' || '' }} ${{ inputs.native && 'native' || '' }} ${{ inputs.platform }}/${{ inputs.dependencies }}
    runs-on: ${{ inputs.platform }}
    container: ${{ inputs.container }}

    steps:
      - name: Setup container
        run: ${{ inputs.container_init }}
        if: inputs.container_init
      - name: Use Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 20.x
      - name: Setup emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: 4.0.23
        if: inputs.wasm
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true
      - name: Install the xpacks
        run: |
          npm install @mmomtchev/xpm --skip-native --skip-wasm
          npx xpm install
      - name: Download the SWIG-generated wrappers
        if: ${{ !inputs.regen_swig }}
        uses: actions/download-artifact@v7
        with:
          name: swig
          path: swig
      - name: Regenerate the SWIG wrappers on the current platform
        if: inputs.regen_swig
        run: npx @mmomtchev/xpm run generate
      - name: Get conan home
        shell: bash
        id: conan_home
        run: |
          npx xpm run -q conan -- version
          echo path=`npx xpm run -q conan -- config home` >> $GITHUB_OUTPUT
      - name: Cache conan artifacts
        id: conan-artifacts
        uses: actions/cache@v5
        with:
          path: ${{ steps.conan_home.outputs.path }}
          key: ${{ inputs.conan_cache_key }}-${{ runner.arch }}-${{ hashFiles('conan.lock') }}
          restore-keys: ${{ inputs.conan_cache_key }}-${{ runner.arch }}
        if: inputs.conan_cache_key
      - name: Install fonts on Ubuntu
        run: |
          sudo apt-get update
          sudo apt-get install -y fonts-ubuntu
        if: startsWith(inputs.platform, 'ubuntu') && !inputs.container
      - name: Install libpng-dev and libjpeg-dev on Ubuntu 24.04
        run: sudo apt-get install -y libpng-dev libjpeg-dev
        if: inputs.platform == 'ubuntu-24.04' && inputs.dependencies == 'system' && !inputs.container
      - name: Do not use GHA pkg-config on Windows
        shell: bash
        run: rm `which pkg-config`*
        if: runner.os == 'Windows'
      - name: Purge g-ir-scanner on macOS/Linux
        shell: bash
        run: which g-ir-scanner && sudo rm -f `which g-ir-scanner` || true
        if: runner.os != 'Windows'

      - name: Prebuild setup
        run: ${{ inputs.prebuild }}
        if: inputs.prebuild
      - name: Build magickwand.js
        shell: bash
        run: |
          npm install --verbose --foreground-scripts \
            ${{ inputs.native && '--build-from-source' || '---magickwand_js-skip-native' }}    \
            ${{ inputs.wasm   && '--build-wasm-from-source' || '---magickwand_js-skip-wasm' }} \
            ${{ inputs.dependencies == 'conan' && '--enable-conan' || '--disable-conan' }} \
            ${{ inputs.extra_npm_opts }}

      - name: Check WASM module size
        run: |
          echo "::notice::WASM version is $(( `cat lib/binding/emscripten-wasm32/magickwand.wasm | wc -c` / 1024 )) KBytes raw"
          echo "::notice::WASM version is $(( `gzip -9c lib/binding/emscripten-wasm32/magickwand.wasm | wc -c` / 1024 )) KBytes gzipped"
          echo "::notice::WASM version is $(( `brotli -9c lib/binding/emscripten-wasm32/magickwand.wasm | wc -c` / 1024 )) KBytes brotlied"
        if: inputs.wasm
      - name: Locate addon file
        shell: bash
        id: addon
        run: node -p '"addon=" + path.resolve(__dirname, "lib", "binding", `${os.platform()}-${os.arch()}`, "magickwand.node")' >> $GITHUB_OUTPUT
        if: inputs.native
      - name: Check native module size
        run: |
          node -p '"::notice::native version is " + (fs.statSync(path.resolve(__dirname, "lib", "binding", `${os.platform()}-${os.arch()}`, "magickwand.node")).size / 1024).toFixed(0) + " KBytes"'
        if: inputs.native
      - name: List linked libraries (Linux)
        run: ldd ${{ steps.addon.outputs.addon }}
        if: runner.os == 'Linux' && inputs.native
      - name: List linked libraries (macOS)
        run: otool -L ${{ steps.addon.outputs.addon }}
        if: runner.os == 'macOS' && inputs.native

      - name: Link the package globally
        run: npm link --ignore-scripts
        if: inputs.link

      - run: npx -w test mocha ${{ inputs.native && 'node.test.ts' || '' }} integration.test.ts
        env:
          MOCHA_INTEGRATION: ${{ inputs.integration }}
          MOCHA_MAGICK_INSTALL: ${{ inputs.install_cmd }}
          MOCHA_LIGHT: ${{ inputs.light }}
          MOCHA_EXTRALIGHT: ${{ inputs.extralight }}

      - name: Node.js platform ID string
        id: platform
        shell: bash
        run: node -p '"plat=" + os.platform() + "-" + os.arch()' >> "$GITHUB_OUTPUT"
      - name: Upload native artifact ${{ inputs.platform }}
        uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.platform.outputs.plat }}
          path: lib/binding/*
        if: inputs.publish && inputs.native
      - name: Upload WASM artifact
        uses: actions/upload-artifact@v6
        with:
          name: emscripten-wasm32
          path: lib/binding/*
        if: inputs.publish && inputs.wasm

      - name: Thin out the conan cache
        run: npx xpm run conan -- cache clean
        if: inputs.conan_cache_key
