name: Generate SWIG wrappers

on: workflow_call


jobs:
  swig:
    runs-on: ubuntu-latest
    name: Generate the SWIG wrappers

    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
        submodules: true
    - uses: mmomtchev/setup-swig@v5
      with:
        branch: jse
        version: v5.0.10
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Verify SWIG
      run: swig-jse -version

    - name: Run SWIG to generated the wrappers
      run: npx xpm run generate

    - name: Upload SWIG-generated wrappers
      uses: actions/upload-artifact@v4
      with:
        name: swig
        path: swig/*
