name: Generate SWIG wrappers

on: workflow_call


jobs:
  swig:
    runs-on: windows-latest
    name: Generate the SWIG wrappers

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        submodules: true

    - name: Install the dependencies
      run: npm install

    - name: Run SWIG to generated the wrappers
      run: npx xpm run generate

    - name: Upload SWIG-generated wrappers
      uses: actions/upload-artifact@v5
      with:
        name: swig
        path: swig/*

    - name: Upload the output of CMake configure
      uses: actions/upload-artifact@v5
      with:
        name: preconf
        path: preconf/*
