name: Generate SWIG wrappers

on: workflow_call


jobs:
  swig:
    runs-on: windows-latest
    name: Generate the SWIG wrappers

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        submodules: true

    - name: Run SWIG to generated the wrappers
      run: npx @mmomtchev/xpm run generate
      shell: cmd

    - name: Upload SWIG-generated wrappers
      uses: actions/upload-artifact@v5
      with:
        name: swig
        path: swig/*
