name: Test npm package

on:
  workflow_call:
    inputs:
      package:
        type: string
        default: magickwand.js@latest
        description: package tarball or npm name to install
      download:
        type: boolean
        default: false
        description: whether the package artifact needs to be downloaded
  workflow_dispatch:
    inputs:
      package:
        type: string
        default: magickwand.js@latest
        description: package tarball or npm name to install


jobs:
  test_npm_binaries:
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-22.04
          - ubuntu-24.04
          - windows-2022
          - windows-2025
          - macos-14
          - macos-15
          - macos-15-intel
        node-version: [20.x, 22.x, 24.x, 25.x]

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Checkout the unit tests
        uses: actions/checkout@v6
        with:
          sparse-checkout: 'test/*'
          sparse-checkout-cone-mode: false
      - name: Install fonts on Ubuntu
        run: sudo apt-get install -y fonts-ubuntu || true
        if: startsWith(matrix.platform, 'ubuntu')
      - name: Download the package
        uses: robinraju/release-downloader@v1.12
        with:
          tag: ${{ github.ref_name }}
          fileName: ${{ inputs.package }}
          out-file-path: ./test
        if: inputs.download
      - name: Install magickwand.js from ${{ inputs.package }}
        working-directory: ${{ github.workspace }}/test
        run: npm install ${{ inputs.package }}
        shell: bash
      - name: Set up the unit tests
        working-directory: ${{ github.workspace }}/test
        run: npm install
      - name: Run the unit tests headless
        run: npx mocha *.test.ts
        working-directory: ${{ github.workspace }}/test
        env:
          MOCHA_INTEGRATION: node,browser
          MOCHA_MAGICK_INSTALL: npm install ${{ inputs.download && format('{0}/test/{1}', github.workspace, inputs.package) || inputs.package }}


  test_npm_rebuild:
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-22.04
          - ubuntu-24.04
          - windows-2022
          - windows-2025
          - macos-14
          - macos-15
          - macos-15-intel
        node-version: [20.x, 24.x]

    steps:
      - name: Enable long paths on Windows
        run: git config --system core.longpaths true
        if: runner.os == 'Windows'
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: 4.0.23
        if: runner.os == 'Linux'
      - name: Checkout the unit tests
        uses: actions/checkout@v6
        with:
          sparse-checkout: 'test/*'
          sparse-checkout-cone-mode: false
      - name: Select XCode SDK on macOS
        run: echo SDKROOT=$(xcrun --show-sdk-path) >> $GITHUB_ENV
        if: runner.os == 'macOS'
      - name: Install fonts on Ubuntu
        run: sudo apt-get install -y fonts-ubuntu || true
        if: startsWith(matrix.platform, 'ubuntu')
      - name: Download the package
        uses: robinraju/release-downloader@v1.12
        with:
          tag: ${{ github.ref_name }}
          fileName: ${{ inputs.package }}
          out-file-path: ./test
        if: inputs.download
      - name: Install magickwand.js from ${{ inputs.package }}
        working-directory: ${{ github.workspace }}/test
        run: |
          npm install --verbose --foreground-scripts  \
            ${{ inputs.package }} --build-from-source \
            ${{ runner.os == 'Linux' && '--build-wasm-from-source' || '' }}
        shell: bash
      - name: Set up the unit tests
        working-directory: ${{ github.workspace }}/test
        run: npm install
      - name: Run the unit tests headless
        run: npx mocha *.test.ts
        working-directory: ${{ github.workspace }}/test
        env:
          MOCHA_INTEGRATION: node,browser
          MOCHA_MAGICK_INSTALL: npm install ${{ inputs.download && format('{0}/test/{1}', github.workspace, inputs.package) || inputs.package }}
          MOCHA_LIGHT: 1
          MOCHA_EXTRALIGHT: 1


  test_npm_rebuild_light:
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-22.04
        node-version: [24.x]

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install fonts on Ubuntu
        run: sudo apt-get install -y fonts-ubuntu || true
        if: startsWith(matrix.platform, 'ubuntu')
      - name: Download the package
        uses: robinraju/release-downloader@v1.12
        with:
          tag: ${{ github.ref_name }}
          fileName: ${{ inputs.package }}
          out-file-path: ./test
        if: inputs.download
      - name: Install magickwand.js from ${{ inputs.package }}
        working-directory: ${{ github.workspace }}/test
        run: |
          npm install --verbose --foreground-scripts                                     \
            ${{ inputs.package }} --build-from-source --disable-shared                   \
            --disable-fonts --enable-jpeg --enable-png --disable-tiff                    \
            --disable-webp --disable-jpeg2000 --disable-raw --disable-openmedia          \
            --disable-brotli --disable-h265 --disable-exr --disable-fftw --disable-heif  \
            --disable-color --disable-xml --enable-gzip --disable-zip                    \
            --disable-bzip2 --disable-zstd --disable-xz --disable-lzma --disable-simd    \
            --disable-openmp --disable-display --disable-jbig --disable-cairo
        shell: bash
      - name: Test loading the package
        working-directory: ${{ github.workspace }}/test
        run: node -p 'require("magickwand.js/native").MagickCore.GetMagickDelegates()'


  test_npm_rebuild_shared:
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-22.04]
        node-version: [24.x]

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/checkout@v6
        with:
          repository: 'imagemagick/ImageMagick'
          path: 'ImageMagick'
          ref: ${{ github.event.inputs.im_version }}
      - name: Checkout the unit tests
        uses: actions/checkout@v6
        with:
          sparse-checkout: 'test/*'
          sparse-checkout-cone-mode: false
      - name: Build and install ImageMagick-7
        run: |
          cd ImageMagick
          sh configure --prefix /usr
          make -j4
          sudo make install
      - name: Install fonts on Ubuntu
        run: sudo apt-get install -y fonts-ubuntu || true
        if: startsWith(matrix.platform, 'ubuntu')
      - name: Download the package
        uses: robinraju/release-downloader@v1.12
        with:
          tag: ${{ github.ref_name }}
          fileName: ${{ inputs.package }}
          out-file-path: ./test
        if: inputs.download
      - name: Install magickwand.js from ${{ inputs.package }}
        working-directory: ${{ github.workspace }}/test
        run: |
          npm install --verbose --foreground-scripts=true      \
            ${{ inputs.package }}                              \
            --build-from-source                                \
            --enable-external --enable-shared                  \
            --cpp-args="`pkg-config --cflags Magick++`"        \
            --cpp-link-args="`pkg-config --libs Magick++`"
        env:
          CFLAGS: -I/usr/include/ImageMagick-7
          CXXFLAGS: -I/usr/include/ImageMagick-7 
        shell: bash
      - name: Set up the unit tests
        working-directory: ${{ github.workspace }}/test
        run: npm install
      - name: Run the unit tests headless
        run: npx mocha *.test.ts
        working-directory: ${{ github.workspace }}/test
        env:
          MOCHA_INTEGRATION: node,browser
          MOCHA_MAGICK_INSTALL: npm install ${{ inputs.download && format('{0}/test/{1}', github.workspace, inputs.package) || inputs.package }}
          MOCHA_LIGHT: 1
          MOCHA_EXTRALIGHT: 1
