name: Development CI

on:
  workflow_dispatch:
  push:
    branches: main
    paths-ignore:
      - 'CHANGELOG.md'
      - 'README.md'
  pull_request:
    branches: main
    paths-ignore:
      - 'CHANGELOG.md'
      - 'README.md'

jobs:

  lint:
    runs-on: ubuntu-latest
    name: Lint

    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Install the dependencies
      run: npm install --skip-magickwand-native --skip-magickwand-wasm
    - name: Lint
      run: npm run lint
      

  swig:
    name: Generate the SWIG wrappers
    uses:
      ./.github/workflows/swig.yml


  native:
    needs: swig

    strategy:
      fail-fast: false
      matrix:
        platform: 
          - ubuntu-22.04
          - ubuntu-24.04
          - macos-13
          - macos-14
          - windows-latest
        dependencies:
          - system
          - conan

    uses:
      ./.github/workflows/build.yml
    with:
      native: true
      wasm: false
      platform: ${{ matrix.platform }}
      dependencies: ${{ matrix.dependencies }}
      integration: node
      link: true
      install_cmd: 'npm link magickwand.js --ignore-scripts'
      light: ${{ matrix.dependencies == 'conan' }}
      extralight: ${{ matrix.dependencies == 'system' && startsWith(matrix.platform, 'windows') }}
      conan_cache_key: native-${{ matrix.dependencies }}-${{ matrix.platform }}


  native-light:
    needs: swig

    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest]

    uses:
      ./.github/workflows/build.yml
    with:
      native: true
      wasm: false
      platform: ${{ matrix.platform }}
      dependencies: conan
      integration: ''
      install_cmd: ''
      light: true
      extra_npm_opts: '--disable-fonts --enable-jpeg --enable-png --disable-tiff --disable-webp --disable-jpeg2000 --disable-raw --disable-openmedia --disable-brotli --disable-h265 --disable-exr --disable-fftw --disable-heif --disable-color --disable-xml --enable-gzip --disable-zip --disable-bzip2 --disable-zstd --disable-xz --disable-lzma --disable-simd --disable-openmp --disable-display --disable-jbig --disable-cairo'
      conan_cache_key: native-light-conan-${{ matrix.platform }}


  native-xpack:
    needs: swig

    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-22.04
          - ubuntu-24.04
          - macos-13
          - macos-14
          - windows-latest

    uses:
      ./.github/workflows/build.yml
    with:
      native: true
      wasm: false
      platform: ${{ matrix.platform }}
      dependencies: conan
      integration: node
      link: true
      install_cmd: 'npm link magickwand.js --ignore-scripts'
      extra_npm_opts: '--enable-standalone-build'
      conan_cache_key: native-xpack-conan-${{ matrix.platform }}


  native-xpack-minimal-container:
    needs: swig

    uses:
      ./.github/workflows/build.yml
    with:
      native: true
      wasm: false
      platform: ubuntu-latest
      dependencies: conan
      integration: node
      link: true
      install_cmd: 'npm link magickwand.js --ignore-scripts'
      extra_npm_opts: '--enable-standalone-build'
      container: ubuntu:latest
      container_init: 'apt-get update && apt-get install -y libc6-dev libstdc++-11-dev libgcc-11-dev binutils ca-certificates fonts-ubuntu git'
      conan_cache_key: native-xpack-minimal-conan-ubuntu-latest


  wasm:
    needs: swig

    uses:
      ./.github/workflows/build.yml
    with:
      native: false
      wasm: true
      platform: ubuntu-latest
      dependencies: conan
      integration: browser
      link: true
      install_cmd: 'npm link magickwand.js --ignore-scripts'
      conan_cache_key: wasm


  wasm-light:
    needs: swig

    uses:
      ./.github/workflows/build.yml
    with:
      native: false
      wasm: true
      platform: ubuntu-latest
      dependencies: conan
      integration: browser
      link: true
      install_cmd: 'npm link magickwand.js --ignore-scripts'
      light: true
      extra_npm_opts: '--disable-fonts --enable-jpeg --enable-png --disable-tiff --disable-webp --disable-jpeg2000 --disable-raw --disable-openmedia --disable-brotli --disable-h265 --disable-exr --disable-fftw --disable-heif --disable-color --disable-xml --enable-gzip --disable-zip --disable-bzip2 --disable-zstd --disable-xz --disable-lzma --disable-simd --disable-openmp --disable-display --disable-jbig --disable-cairo'
      conan_cache_key: wasm-light


  external:
    needs: swig

    uses:
      ./.github/workflows/build.yml
    with:
      native: true
      wasm: false
      platform: ubuntu-22.04
      dependencies: system
      integration: node
      link: true
      install_cmd: 'npm link magickwand.js --ignore-scripts'
      prebuild: 'cd deps/ImageMagick && sh configure --prefix /usr && make -j4 && sudo make install'
      extra_npm_opts: '--enable-external --enable-shared --cpp-args="`pkg-config --cflags Magick++`" --cpp-link-args="`pkg-config --libs Magick++`"'


  debug-asan:
    runs-on: ubuntu-22.04
    needs: swig

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: true
      - name: Use Node.js 18.x
        uses: actions/setup-node@v6
        with:
          node-version: 18.x
      - name: Download the SWIG-generated wrappers
        uses: actions/download-artifact@v6
        with:
          name: swig
          path: swig
      - name: Install the xpacks
        run: |
          npm install xpm
          npx xpm install
      - name: Get conan home
        shell: bash
        id: conan_home
        run: |
          npx xpm run -q conan -- version
          echo path=`npx xpm run -q conan -- config home` >> $GITHUB_OUTPUT
      - name: Cache conan artifacts
        id: conan-artifacts
        uses: actions/cache@v4
        with:
          path: ${{ steps.conan_home.outputs.path }}
          key: linux-debug-asan-conan
      - name: Install fonts on Ubuntu
        run: sudo apt-get install -y fonts-ubuntu || true
      - name: Install the dependencies
        run: npm install --skip-magickwand-wasm --skip-magickwand-native
      - name: Build with ASAN
        run: |
          npx xpm install
          npx xpm run prepare --config native-debug
          npx xpm run configure --config native-debug -- -Db_sanitize=address
          npx xpm run build --config native-debug
        env:
          npm_config_enable_conan: true
      - name: Get ASAN library name
        id: asan-lib
        run: echo LD_PRELOAD=$(gcc -print-file-name=libasan.so) >> $GITHUB_OUTPUT
      - run: node node_modules/mocha/bin/mocha.js -i -g Security --repeats 1000 test/node.test.ts
        env:
          LSAN_OPTIONS: suppressions=${{ github.workspace }}/test/napi-leaks-suppression.txt
          LD_PRELOAD: ${{ steps.asan-lib.outputs.LD_PRELOAD }}
